@{
    ViewData["Title"] = "El terrible Login";
}
<div class="pt-5"></div>
<div class="container py-4 px-5 border border-secondary rounded col-md-6">
    <form action="Login/Form" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="mail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">no compartiremos tu correo con nadie, o eso supones jejeje.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="mail">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>