<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inicio de sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Login" asp-action="Form" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST" role="form">
                    <div class="mb-3">
                        <label for="Email1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Email1" name="mail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">no compartiremos tu correo con nadie, o eso supones jejeje.</div>
                    </div>
                    <div class="mb-3">
                        <label for="Password1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password1" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>